@model Marvin.IDP.Model.ShowRecoveryCodesViewModel

<!DOCTYPE html>
<html lang="en" class="loading">
<!-- BEGIN : Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Authntication - Target A &amp; M</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
</head>
<!-- END : Head-->
<!-- BEGIN : Body-->
<body data-col="1-column" class=" 1-column  blank-page">
    <div class="wrapper">
        <div class="main-panel">
            <!-- BEGIN : Main Content-->
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login" class="gradient-shdow-night" style="background-image: url(/back1.png) !important;">
                        <div class="container-fluid">
                            <div class="row full-height-vh m-0 white">
                                <div class="mt-3">
                                    <p>
                                        <span class="glyphicon glyphicon-warning-sign"></span>
                                        <strong>Put these codes in a safe place.</strong>
                                    </p>
                                    <p>
                                        If you lose your device and don't have the recovery codes you will lose access to your account.
                                    </p>

                                    <div class="row">
                                        <div class="col-md-12">
                                            @foreach (var code in Model.RecoveryCodes)
                                            {
                                                <h1><code><b>@code</b></code></h1>
                                                <br />
                                            }

                                        </div>
                                    </div>
                                    <form asp-action="SendEmail" method="post" class="form-group">
                                        <button class="btn btn-primary text-decoration-none text-white" style="background:linear-gradient(45deg, #060606, #8a8a8a);" id="submitButton" onclick="return DisplayProgressMessage(this, 'Sending...');"> Send via Email </button>
                                    </form>
                                    <a asp-action="grants">Proceed to login</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->

                </div>
            </div>
        </div>
    </div>

    <script>
        function DisplayProgressMessage(ctl, msg) {
            setTimeout(function () {
                $(ctl).prop("disabled", true);
                $(ctl).text(msg);
            }, 5);

            return true;
        }
    </script>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="~/app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
</body>
</html>